/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 120%;
  height: 500px;
  background: url('../../../content/images/ReserveIt Logo.png') no-repeat center top;
  background-size: center;
}
